body > div {
  margin: auto;
}

/** Block*/
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;

  cursor: pointer;
  transition: opacity 0.2s linear;
}
.btn + .btn{
  margin-left: 10px;
}
.btn--success {
  background-color: #71be34;
}
.btn--warn {
  background-color: #ffb703;
}
.btn--danger {
  background-color: #ff623d;
}

.btn:hover{
  opacity: 0.8;
}